/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 1fr 1fr;
  position: relative;
  padding-right: var(--padding);
  padding-top: var(--padding);
  padding-left: var(--padding);
}

.header__theme-menu {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  margin-block-start: calc(27vw - 60px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--header-menu-color);
  font-family: var(--header-menu-font-family);
  font-size: var(--header-menu-font-size);
  padding: 0 13px 3px;
  font-weight: normal;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-menu-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-menu-color);
}

.header__title {
  color: var(--header-title-color);
  grid-row-start: 3;
  grid-row-end: auto;
  position: relative;
  align-content: center;
  font-family: var(--header-title-font-family);
  font-size: var(--header-title-font-size);
  text-shadow: 4px 4px 0 var(--header-title-shadow-color);
  line-height: 0.83;
}

.header__paragraph {
  margin-block-start: calc(15vw - 20px);
  margin-block-end: calc(30vw - 50px);
  width: 355px;
  white-space: pre-line;
  grid-row-start: 4;
  justify-self: end;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--padding);
  right: var(--padding);
  border-top: 1px solid var(--header-decoration-color);
  border-right: 1px solid var(--header-decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: var(--padding);
  left: var(--padding);
  border-bottom: 1px solid var(--header-decoration-color);
  border-left: 1px solid var(--header-decoration-color);
}

.header__decoration {
  position: absolute;
  top: var(--padding);
  left: calc(100% - (var(--padding) + 60px));
  color: var(--header-decoration-color);
  text-transform: uppercase;
  font-family: var(--header-decoration-font-family);
  font-size: var(--header-decoration-font-size);
}

.header__decoration::after {
  content: "";
  left: 42px;
  top: 8px;
  background-color: var(--header-decoration-color) ;
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px var(--header-decoration-color);
}

.main {
  padding-inline: var(--padding);
}

.block {
  padding-top: 60px;
  padding-bottom: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.heading {
  grid-column-start: 1;
  grid-column-end: 4;
  color: var(--heading-color);
  font-family: var(--heading-font-family) ;
  font-size: var(--heading-font-size) ;
  font-weight: bold;
}

.list {
  display: grid;
  gap: 20px;
}

.column,
.row {
  grid-column-start: 1;
  grid-column-end: 4;
}

.block_article {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.title-decor {
  color: var(--header-paragraph-color);
  background-color: var( --header-paragraph-bacground-color);
  font-family: var(--header-paragraph-font-family);
  font-size: var(--header-paragraph-font-size) ;
  line-height: 1.3;
}

.title-decor-bold {
  font-weight: bold;
}

.title-decor-normal {
  font-weight: normal;
}

.text {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  line-height: 1.3;
}

.link {
  text-shadow: 2px 1px 0 var(--link-shadow-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  padding-bottom: 50px;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--padding);
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  height: 100vh;
  display: grid;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--header-title-color);
  font-family: var(--header-title-font-family);
  font-size: var(--header-title-font-size);
  text-shadow: 2px 2px 0 var(--header-title-shadow-color);
}

.page {
  background-image: var(--page-background-image);
  background-color: var(--page-color);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

@media (width < 768px) {
  .block {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {

  .header {
    padding-left: 0;
    padding-right: 0;
  }

  .header__paragraph {
    margin-right: var(--padding);
  }

  .header__theme-menu {
    margin-block-start: calc((768px * 27 / 100) - 60px);
  }

  .header__paragraph {
    margin-block-start: calc((768px * 15 / 100) - 20px);
    margin-block-end: calc((768px * 30 / 100) - 50px);
  }

  .header__theme-menu-list {
    margin-right: var(--padding);
  }
  
  .heading {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .column {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .gallery {
    min-block-size: calc(100vh - 5em);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1.5fr ;
  }

  .picture-sunset {
    grid-column: span 2;
    grid-row: span 1;
  }

  .picture-ice-cream {
    grid-column: span 1;
    grid-row: span 2;
  }

  .picture-tape {
    grid-column: span 1;
    grid-row: span 2;
  }

  .picture-street {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {

  .header__theme-menu {
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-content: end;
  }

  .header__paragraph {
    width: calc(50% - var(--padding));
    height: auto;
    margin-block-start: calc(15vw - 30px);
    margin-block-end: calc(15vw - 10px);
  }

  .row {
    grid-template-columns: repeat(3 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}